body {
    background-image: url("../images/backgrounds/background_1.jpg");
    overflow: hidden;
}
* {
    margin: 0
}

#container {
    position: relative;
  }
  #container canvas, #canvasOverlay {
    position: absolute;
  }